body{
    font-size:21px;
    line-height: 23px;
    font-family:"EB-garamond", serif;
    font-weight: 500;
    font-optical-sizing: auto;
    color:rgb(255, 255, 255);
    background-color: black;
    background:linear-gradient(to right,rgb(202, 118, 255),#ff0000, rgb(255, 85, 7),rgb(255, 25, 125),rgb(202, 118, 255),black);
    margin:0px;
    padding: 20px;
    position: relative;
    text-align: justify;
    transition: 1s all ease;
}
/* welcome splash page */

.welcome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color:greenyellow;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
  }
  
  .welcome.visible {
    display: flex;
    flex-wrap: wrap;
  }
img{
    width:100%;
}

.glowimage img{
    box-shadow:0px 0px 10px white;
}
.tpglowimage img{
    box-shadow:0px 0px 10px white;
    transition: box-shadow 1s ease;
}
.marshallglowimage img{
    box-shadow:0px 0px 10px white;
    transition: box-shadow 1s ease;
}
.spaceglowimage img{
    box-shadow:0px 0px 10px white;
    transition: box-shadow 1s ease;
}
.trumpglowimage img{
    box-shadow:0px 0px 10px white;
    transition: box-shadow 1s ease;
}
.bglowimage img{
    box-shadow: 0px 0px 50px white;
    transition: box-shadow 1s ease;
}
.truegrit{
    margin:-20px;
    position:fixed; z-index: -2;
    top: 0px;
    bottom: 0px;
    background-repeat: repeat;
    background-image: url(purpletexture.png);
    mix-blend-mode: multiply;
    height:2000px;
    background-size: 100%;
    opacity: 50%;
    width: 100%;
}
div.popup{
    position: fixed;
    bottom: 100px;
    right: 200px;
    width:300px;
    height: 300px;
    z-index: 1000;
    transition: 1s all ease;
}
div.popup1{
    position: fixed;
    bottom: 100px;
    right: 200px;
    width:300px;
    height: 300px;
    z-index: 1000;
    transition: 1s all ease;
}
div.hide{
    display: none;
}
div.Btitle{
    font-size: 200px;
    line-height:200px;
    font-family: "lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-shadow:0 0 20px white;
}
.titleescape{
    font-size: 200px;
    line-height:200px;
    font-family: "lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.titleenigmatic{
    font-size: 200px;
    line-height:200px;
    font-family: "lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.titleweirdness{
    font-size: 200px;
    line-height:200px;
    font-family: "lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.newtitleescape{
    text-shadow:0 0 20px white;
    transition: all 1s ease;
}
.newtitleenigmatic{
    text-shadow:0 0 20px white;
    transition: all 1s ease;
}
.newtitleweirdness{
    text-shadow:0 0 20px white;
    transition: all 1s ease;
}
div.Mtitle{
    font-size: 70px;
    line-height:80px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-shadow:0 0 25px white;
    padding-top: 20px;
}
div.highlight{
    font-size: 40px;
    line-height:45px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    text-shadow:0 0 25px white;
}
.astralhighlight{
    font-size: 35px;
    line-height:45px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    text-shadow:0 0 25px white;
}
.juxtaposehighlight{
    font-size: 35px;
    line-height:45px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    text-shadow:0 0 25px white;
    transition: all 1s ease;
}
.enlightenhighlight{
    font-size: 35px;
    line-height:45px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    text-shadow:0 0 25px white;
    transition: all 1s ease;
}
.algorithmhighlight{
    font-size: 35px;
    line-height:45px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    text-shadow:0 0 25px white;
}
.newastralhighlight{
    font-size: 40px;
    text-shadow:0 0 25px white;
    transition:all 1s ease;
}
.newjuxtaposehighlight{
    font-size: 40px;
    line-height:45px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    text-shadow:0 0 25px white;
    transition: all 1s ease
}
.newenlightenhighlight{
    font-size: 40px;
    text-shadow:0 0 25px white;
    transition:all 1s ease;
}
.newalgorithmhighlight{
    font-size: 40px;
    text-shadow:0 0 25px white;
    transition:all 1s ease;
}
div.quote{
    font-family: "EB-garamond", serif;
    font-size:29px;
    line-height: 31px;
    font-style: italic;
    font-weight: 800px;
}
div.maintext{
    font-family: "EB-garamond",serif;
    font-size:29px;
    line-height:31px;
    font-style: normal;
    font-weight: 800px;
}
div.dissolvingmaintext{
    font-family: "EB-garamond",serif;
    font-size:29px;
    line-height:31px;
    font-style: normal;
    font-weight: 800px;
    transition: all 1s ease;
}
div.greentext{
    font-family: "VT323", monospace;
    font-size:23px;
    color: greenyellow;
    transition: all 1s ease;
}
div.mt{
    margin-top: 350px;
}
div.movel{
    left: 20px;
}
div.smt{
    margin-top: 200px;
}
div.container{
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}
div.width50{
    width:50%;
}
div.width53{
    width: 53%;
}
div.width35{
    width: 35%;
}
div.spellwidth35{
    width: 35%;
    transition: all 1s ease;
}
div.techgnosticwidth35{
    width: 35%;
    transition: all 1s ease;
}
div.fantasywidth50{
    width: 50%;
    transition: all 1s ease;
}
div.width70{
    width: 70%;
}
div.width33{
    width: 33%;
}
div.width25{
    width:25%;
}
div.width40{
    width:40%;
}
div.width30{
    width: 30%;
}
div.width85{
    width: 85%;
}
div.width10{
    width: 10%;
}
div.mr{
    margin-right: 20px;
}
div.ml{
    margin-left: 20px;
}
div.bmr{
    margin-right: 120px;
}
div.bml{
    margin-left:95px
}
div.ar{
    text-align: right;
}
div.ac{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
div.al{
    text-align: left;
}
div.pt{
    padding-top: 200px;
}
div.mpt{
    padding-top: 25px;
}
div.spt{
    padding-top: 10px;
}
div.italic{
    font-style: italic;
}
div.imgs{
    width: 30%;
}
.video{
    width: 25%;
    bottom: 20px;
    z-index: 4;
    position: fixed;
    right:20px;
}
div.bggreen{
    background-color: greenyellow;
    margin: -20px;
}
div.height{
    height:7px;
}
div.biglineheight{
    line-height: 40px;
    transition: 1s ease;
}
div.removemargin{
    margin: 0px;
    padding: -20px;
}
div.pbb{
    padding-bottom: 450px;
}
div.pbs{
    padding-bottom: 100px;
}
div.pbss{
    padding-bottom: 25px;
}
div.ho{
    opacity: 60%;
    transition:all 1s ease;
}
.topmarquee {
    color:greenyellow;
    font-family: 'VT323', monospace;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: -20px;
    z-index: 5;
  }
.topmarquee span{
    display:flex;
    animation: scroll-left 35s linear infinite;
}
.bottommarqee {
    color:greenyellow;
    font-family: 'VT323', monospace;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: -20px;
    z-index: 5;
  }
.bottommarqee span{
    display:flex;
    animation: scroll-right 35s linear infinite;
}
@keyframes scroll-right{
    100%{transform:translateX(100%)}
    0%{transform:translateX(0%)}
}

@keyframes scroll-left{
    0% {transform:translateX(100%)}
    100% {transform: translateX(0%)}
}
div.width20{
    width: 20%;
}
div.width19{
    width:19%
}
div.width20.ml.ac:hover{
    transform:translateY(-20px);
}
div.width19.ml.ac:hover{
    transform:translateY(-20px);
}
div.lefthand.width50.mt{
    padding-left: -20px;
    margin-left: -20px;
    position: relative;
    z-index: -1;
}
div.width20.ml.ac{
    position: relative;
    z-index: 2;
    bottom: 200px;
}
div.width19.ml.ac{
    z-index: 1;
    position: relative;
    bottom:200px
}
div.bhand{
    position: relative;
    z-index: 1;
    padding-right:0px;
    margin-right:0px;
    overflow-x: hidden;
    left: 20px;
}
div.textgreen{
    color: greenyellow;
}
div.backgroundsmall{
    background-size: 500px;
}

/* triggers and effects */

body.update{
    background-color: black, red;
    color: greenyellow;
}
.textglow{
    text-shadow: 0px 0px 8px white;
    transition: 1s all ease;
}
.doubletextglow{
    text-shadow: 0px 0px 15px white;
    transition: 1s all ease;
}
.page{
    transition: all 1s ease
}

.pagenew1{
    background:black;
    transition:all 1s;
    z-index: -1;
    color: greenyellow;
}
.pagenew2{
    background: red;
    transition: all 1s ease;
    z-index: -1;
    color: black;
}
.pagenew3{
    background: magenta;
    color: yellow;
    z-index: -1;
    transition: all 1s ease;
}
.pagenew4{
    background:black;
    color: white;
    z-index: -1;
    transition: all 1s ease;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color:greenyellow;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 4;
    cursor: pointer;
  }
  
  .loading.visible {
    display: flex;
    flex-wrap: wrap;
  }
div.Vfont{
    font-family: 'VT323', monospace;
    font-size: 21px;
    color: greenyellow;
    z-index: 3;
    position: fixed;
}
div.bf{
    z-index: 3;
}
div.crystalball{
    z-index: 2;
    position: relative;
    bottom: 340px;
}